{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    
    <p>
      {% if post.authors %}
        {{ post.authors }},
      {% endif %}

      <!-- Title with DOI or Conference URL Link if Available -->
      {% if post.doi %}
        "<a href="https://doi.org/{{ post.doi }}">{{ title }}</a>",
      {% elsif post.conferenceurl %}
        "<a href="{{ post.conferenceurl }}">{{ title }}</a>",
      {% else %}
        "{{ title }}",
      {% endif %}

      <!-- Journal or Conference -->
      {% if post.category == 'journal' %}
        <i>{{ post.journal }}</i>{% if post.volume or post.issue or post.pages or post.date %},{% endif %}
      {% elsif post.category == 'conference' %}
        in <i>{{ post.conference }}</i>{% if post.pages or post.date %},{% endif %}
      {% endif %}

      <!-- Volume, Issue, and Pages with Conditional Commas -->
      {% if post.volume %} vol. {{ post.volume }}{% if post.issue or post.pages %},{% endif %}{% endif %}
      {% if post.issue %} no. {{ post.issue }}{% if post.pages %},{% endif %}{% endif %}
      {% if post.pages %} pp. {{ post.pages }}{% endif %}

      <!-- Year with Conditional Comma if DOI Exists -->
      {% if post.date %}{{ post.date | date: "%Y" }}{% if post.doi %},{% endif %}{% endif %}
    </p>

    {% if post.citation %}
      <p>{{ post.citation }}</p>
    {% endif %}

    {% if post.paperurl or post.slidesurl %}
      <p>
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}">Download Paper</a>
        {% endif %}
        {% if post.slidesurl %}
          {% if post.paperurl %}
            | 
          {% endif %}
          <a href="{{ post.slidesurl }}">Download Slides</a>
        {% endif %}
      </p>
    {% endif %}

  </article>
</div>
