{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    
    <p>
      {% if post.authors %}
        {% assign authors_array = post.authors | split: ', ' %}
        {% assign formatted_authors = '' %}
        {% for author in authors_array %}
          {% assign name_parts = author | split: ' ' %}
          {% assign initials = name_parts[0] | slice: 0, 1 %}
          {% assign last_name = name_parts[1] %}
          {% assign formatted_authors = formatted_authors | append: initials | append: '. ' | append: last_name | append: ', ' %}
        {% endfor %}
        {% if formatted_authors.size > 0 %}
          {% assign formatted_authors = formatted_authors | slice: 0, formatted_authors.size | minus: 2 %} {% comment %} Remove last comma and space {% endcomment %}
        {% endif %}
        {{ formatted_authors }}{% comment %} Display formatted authors {% endcomment %}
      {% endif %}

      <!-- Title -->
      "{{ title }}," 

      <!-- Journal or Conference -->
      {% if post.category == 'journal' %}
      <i>{{ post.journal }}</i>
      {% elsif post.category == 'conference' %}
        in <i>{{ post.conference }}</i>
      {% endif %}

      <!-- Conditional Volume, Issue, and Pages with Labels -->
      {% assign has_volume_or_issue_or_pages = false %}
  
      {% if post.volume %}
        {% assign has_volume_or_issue_or_pages = true %}
        , vol. {{ post.volume }}
      {% endif %}
  
      {% if post.issue %}
        {% assign has_volume_or_issue_or_pages = true %}
        {% if post.volume %}, {% endif %}no. {{ post.issue }}
      {% endif %}
  
    {% if post.pages %}
      {% assign has_volume_or_issue_or_pages = true %}
      {% if post.volume or post.issue %}, {% endif %}pp. {{ post.pages }}
    {% endif %}

    {% if has_volume_or_issue_or_pages %}
      {% comment %} Only display the volume, issue, and pages if at least one is present {% endcomment %}
    {% else %}
      {% assign empty_volume_issue_pages = true %}
    {% endif %}

    {% if empty_volume_issue_pages == false %}
      <!-- Only show if there were any volume, issue, or page numbers -->
      {% if post.volume or post.issue or post.pages %}
        , {% if post.volume %} vol. {{ post.volume }} {% endif %}{% if post.issue %}no. {{ post.issue }} {% endif %}{% if post.pages %}pp. {{ post.pages }} {% endif %}
      {% endif %}
    {% endif %}
      
      <!-- Year -->
      {% if post.date %} {{ post.date | date: "%Y" }}{% endif %}

      <!-- DOI -->
      {% if post.doi %}, doi: <a href="https://doi.org/{{ post.doi }}">{{ post.doi }}</a>{% endif %}.
    </p>

    {% if post.citation %}
      <p>{{ post.citation }}</p>
    {% endif %}

    {% if post.paperurl or post.slidesurl %}
      <p>
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}">Download Paper</a>
        {% endif %}
        {% if post.slidesurl %}
          {% if post.paperurl %}
            | 
          {% endif %}
          <a href="{{ post.slidesurl }}">Download Slides</a>
        {% endif %}
      </p>
    {% endif %}

  </article>
</div>
